extends ../../theme/layout

block header             
  | Create a user

block section
  form(action="/user/" method="post")    
    .form-group
      label(for='username') Username
      input.form-control(type='text', name='username' placeholder='holder')
    .form-group
      label(for='email') Email
      input.form-control(type='email', name='email' placeholder='holder')
    .form-group
      label(for='password') Password
      input.form-control(type='password', name='password' placeholder='holder')
    input(type='hidden', name='_csrf')
    button.btn.btn-primary(type="submit") Submit
