extends ../../theme/layout

block content   
  p Login or Register with:
  |         
  a.btn.btn-default(href="/user/login")
    span.fa.fa-user
    |  Local Login
  |         
  a.btn.btn-default(href="/user/signup")
    span.fa.fa-user
    |  Local Signup
