extends ../../theme/layout

block header
  | User List

block section
  table.table.table-hover.table-bordered
    thead
      tr
        th Username
        th Email
        //- th Password
    tbody
      each u in users
        tr
          th(scope='row') #{u.username}
          td #{u.email}
          //- td #{u.password}
      
    
