extends index

block css
  link(href='css/signin.css', rel='stylesheet') 

block header  

block content  
  // show any messages that come back with authentication    
  form(action="/user/login" method="post" class="form-signin")
    if message.length > 0
      .alert.alert-danger #{message}
    h2(class="form-signin-heading") #{title}        
    input(type="hidden", name="_csrf", value=csrfToken)
    .form-group
      //- label(for='email') Email
      input.form-control(type='email', name='email' placeholder='email@email.com')
    .form-group
      //- label(for='password') Password
      input.form-control(type='password', name='password' placeholder='password')
    
    button.btn.btn-primary.btn-lg.btn-block(type="submit") Submit
    br
    p.text-right Need an account ?
      a(href="/user/signup") Signup 
      span Or 
        a(href="/") Get Home       
        
block footer  
    
  
