extends index
block content
  if message.length > 0
    .alert.alert-danger #{message}
  
  form(action="/user/signup" method="post")
    input(type="hidden", name="_csrf", value=csrfToken)
    .form-group
      label(for='email') Email
      input.form-control(type='email', name='email' placeholder='email@email.com')
    .form-group
      label(for='password') Password
      input.form-control(type='password', name='password' placeholder='password')
    button.btn.btn-warning.btn-lg(type="submit") Submit
  
  hr
  
  p Already have an account ? 
    a(href="/user/login") Login
    |.
  
  p 
    | Or go 
    a(href="/user") home
    |.
